.avatar_group {

    display: flex;
    align-items: center;

    .list {
        display: flex;
        list-style: none;
        
        .item {
            position: relative;
            display: block;
            cursor: pointer;
            transition: .2s;
    
            .information {
                position: absolute;
                white-space: nowrap;
                bottom: calc(100%);
                background-color: rgba(0, 0, 0, .7);
                padding: 3px 5px;
                color: #fff;
                visibility: hidden;
                opacity: 0;
                transition: .2s;

                .name {
                    font-size: 14px;
                }

                .role {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
    
            .avatar {
                display: block;
                width: 60px;
                height: 60px;
                object-fit: cover;
                border: 3px solid #fff;
                border-radius: 50%;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
            }  
        }
    
        .item:not(:first-child) {
            margin-left: -15px;
        }
    
        .item:hover {
            z-index: 1;
            transform: translateY(-5px);
        }
    
        .item:hover .information {
            visibility: visible;
            opacity: 1;
        }
    }

    .count {
        margin-left: 10px;
    }
}
