@import '../../../../shared/styles/errors';
@import '../../../../shared/styles/input';
@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/form';

.form {
   @include form;

    h2 {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 25px;

        p {
            color: $primary;
        }
    }

    .btn {
        margin-bottom: 5px;
    }


    .error_input {
        @include error-input;
    }
    
    .error_text {
        @include error-text;
    }
    
    .title {
        @include input-title;
    }
}

