@import '../../../shared/styles/colors';

.select {
    position: relative;
    display: flex;
    justify-content: center;
    color: $dark;

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $default;

        border-radius: 5px;
        box-shadow: 0 0 3px $dark;

        padding: 10px;
        width: 250px;

        .arrow {
            transition: all .5s;
            cursor: pointer;
            transform: rotate(270deg);
        }

        .open {
            transform: rotate(90deg);
        }
    }

    .list {
        position: absolute;
        left: calc(100% + 90px);

        height: 100px;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        list-style: none;
        margin-top: 5px;
        background-color: $default;
        padding: 5px 5px;
        border-radius: 10px;
       
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 380px;
            padding: 8px 10px;
        }
    }
}