@import '../../../../shared/styles/colors';

.tag {

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 25px;

    box-shadow: 0 0 3px rgba(0, 0, 0, .6);
    border-radius: 10px;

    background-color: $default;
    
    .text {
        font-weight: bold;
    }

    .icon {
       transform: rotate(90deg);
    }
}