@import '../../shared/styles/colors';

.topbar {
    grid-area: topbar;

    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    height: 80px;

    background-color: $default;

    .btn {
        margin-right: 30px;
    }
}