@import '../../../../shared/styles/colors';

.list {
    width: 100%;

    margin-top: 20px;
    height: 200px;

    overflow: auto;
    
    &::-webkit-scrollbar {
        display: none;
    }

    table {

        width: inherit;
        text-align: center;

        thead {

            background-color: $primary;
            color: $default;
            
            th {
                padding: 4px 0;

                &:nth-child(1) {
                    width: 30%;
                }
        
                &:nth-child(2) {
                    width: 50%;
                }
        
                &:nth-child(3) {
                    width: 20%;
                }
            }  
    
        }
       
        tbody {
            tr {
                td {
                    height: 100px;

                    &:nth-child(1) {
                        width: 30%;
                    }
            
                    &:nth-child(2) {
                        width: 50%;
                    }
            
                    &:nth-child(3) {
                        width: 20%;
                    }
                }
            }
        }
    }
    
}