@import '../../../../../shared/styles/colors';

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $default;
    border-radius: 15px;
    box-shadow: 0 0 3px  rgba($dark, .5);

    padding: 10px;
    width: 70%;

    transition: all .2s;

    .container_team {
        .head {
            font-weight: bold;
        }
    }

    .group_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60px;
        margin-right: 20px;


        .btn {
            cursor: pointer;
            transition: all .2s;
        }

        .btn:hover {
            transform: translateY(-4px);
        }

        .delete {
            fill: red;
        }
    }
}