@import '../../../../shared/styles/form';
@import '../../../../shared/styles/input';
@import '../../../../shared/styles/errors';

.form {
    @include form;
   
    h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    label {
        margin-bottom: 25px;

        p {
            @include input-title;
        }

        .error_input {
            @include error-input;
        }
        
        .error_text {
            @include error-text;
        }
    }

    .container_btn {
        display: flex;
        justify-content: space-around;

        width: 100%;

        margin-top: 10px;
    }
}