.card {
    position: relative;
    width: 100px;

    .btn_delete {
        position: absolute;
        left: 60%;
        fill: red;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: translateY(-4px);
        }
    }
}