@import '../../../../shared/styles/colors';

.card {

    .link_container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-decoration: none;

        .icon {
            fill: $primary;
        }
        
        .name {
            text-align: center;
            margin-top: 4px;
            font-size: 12px;
            font-weight: bold;
            color: #000;
        }
    }
    
    .btn_delete {
        fill: $error;
        cursor: pointer;
    }
}