@import '../../shared/styles/colors';

.panel_resource {

    padding: 10px 15px 20px 15px;
    box-shadow: 0 0 4px rgba($dark, .6);
    border-radius: 10px;

    background-color: $default;

    h2 {
        color: $primary;
        margin-bottom: 5px;
    }

    hr {
        height: 2px;
        background-color: $grey;
        border: none;
        border-radius: 5px;
    }

    .list {
        margin-top: 20px;
        height: 200px;
        overflow: auto;
    
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .zone {

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 20px auto 0;

        height: 15vh;
        width: 20vw;
        background-color: rgba($primary, .4);
        border: 3px dashed $primary;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba($primary, .8);
        cursor: pointer;


        p {
            font-size: 14px;
            font-weight: bold;
            color: $primary;
            text-align: center;
        }
    }
}