@import '../../shared/styles/colors';

.page {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "sidebar topbar"
                         "sidebar content";

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: $cream;
}