.card_user {

    display: flex;
    align-items: center;

    .information {

        margin-left: 15px;

        .name {
            font-size: 14px;
            margin-bottom: 2px;
        }

        .role {
            font-size: 12px;
            font-weight: 700;
        }
    }
}