@import '../../styles/colors';

.button {

    width: auto;
    padding: 8px 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all .2s;

    font-size: 11pt;
}

.primary {
    border: 2px solid $primary;
    background-color: $primary;
    color: $default;
    font-weight: bold;

    &:hover {
        border: 2px solid $primary;
        background-color: $default;
        color: $primary;
    }
}

.normal {
    border: 2px solid $primary;
    background-color: $default;
    color: $primary;
    font-weight: bold;

    &:hover {
        background-color: $primary;
        color: $default;
    }
}